/* Aula 12 - 17/05/2022*/
body, ul{
    margin: 0px;
    padding: 0px;
}
#menu a {
    color:black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
}
#menu a:hover {
    background: rgba(0, 0, 0, 0.05);
    font-size: 20px;
}
#logo {
    font-size: 1.5rem;
}
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7e7e7;
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
    display: none;
}
#carouselExampleInterval {
    position: relative;
    z-index: 10;
    padding-top: 80px;
}