@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue';
}

.container-grid {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    z-index: 1;
    background-color: #F9003D;
    height: 80px;
    position: fixed;
    width: 100vw;
}

.conteudo-header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.logo {
    height: 40px;
}

.menu-header {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-header a {
    color: white;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 1.25em;
    transition: 0.3s;
}

.menu-header a:hover:not(.botao) {
    font-size: 1.6em;
    transition: 0.3s;
    text-shadow: 4px 4px 6px #0000007a;
}

.whatsapp {
    position: fixed;
    z-index: 2;
    top: 200px;
    right: 40px;
}

.whatsapp img {
    height: 60px;
}

.botao {
    background-color: #A259F7;
    height: 45px;
    width: 150px;
    text-align: center;
    line-height: 47px;
    font-size: 1.5em !important;
    border: solid 1px #080324;
}
/*
.botao:hover {
    font-size: 1.6em !important;
    height: 50px;
    line-height: 50px;
    width: 160px;
    transition: 0.3s;
    box-shadow: 4px 4px 6px #0000007a;
}
*/
.botao:hover {
    font-size: 1.6em !important;
    height: 50px;
    line-height: 50px;
    width: 160px;
    transition: 0.3s;
    box-shadow: 4px 4px 6px #0000007a;
}
.menu-barras {
    display: none;
}

.banner {
    background-image: url(../img/imagem-fundo-banner.jpg);
    height: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.conteudo-banner {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.texto-banner {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-around;
}

h1 {
    color: white;
    font-size: 80px;
}

.linha-amarela {
    border: solid 1px #FFAF00;
}

.titulo-senai {
    font-family: 'Courier New', Courier, monospace;
    color: #F9003D;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
}

.mouse {
    width: 80px;
}
.sobre-projetos {
    background-color: #080324;
    padding-top: 40px;
    padding-bottom: 40px;
}
.sobre-projetos h2 {
    color: #F9003D;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
}
.conteudo-sobre {
    display: flex;
    justify-content: space-between;
}
.imagem-sobre {
    width: 40%;
}
.texto-sobre {
    width: 50%;
}

.texto-participantes {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
}

.conteudo-sobre h3 {
    color: #FFAF00;
    font-size: 45px;
    font-weight: 500;
}

.texto-sobre p {
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.info {
    background-image: url(../img/imagem-fundo-info.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 0;
}

.conteudo-info {
    display: flex;
    justify-content: space-between;
}

.card-info {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    margin: 20px;
}

.card-info h3 {
    color: #FFFFFF;
    font-size: 20px;
}

.card-info p {
    color: #A259F7;
    font-size: 22px;
    font-weight: 600;
    border: solid 2px #A259F7;
    width: 250px;
    padding: 30px 0;
    text-align: center;
}

.endereco {
    padding: 40px 0;
    background-image: url(../img/imagem-fundo-ranking.jpg);
}

.conteudo-endereco {
    margin: 0 auto;
    max-width: 850px;
    position: relative;

}

.conteudo-endereco h2 {
    color: #FFAF00;
    font-size: 50px;
    font-weight: 500;
}

.texto-endereco {
    color: #A259F7;
    font-family: 'Courier New', Courier, monospace;
    background-color: #010010;
    border: solid 2px #A259F7;
    padding: 55px 55px;
}

.texto-endereco p {
    width: 400px;
    font-size: 20px;
}

.container-mapa {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 20%;
}

.mapa-responsivo {
    position: absolute;
    margin-top: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.container-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%;
}

.video-responsivo {
    position: absolute;
    margin-top: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 840px;
    height: 400px;
}


footer {
    height: 80px;
    background-color: #F9003D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .menu-header {
        width: 60%;
    }
    
    .conteudo-sobre {
        flex-direction: column;
        align-items: center;
    }
    
    .imagem-sobre {
        width: 80%;
    }
    
    .texto-sobre {
        width: 80%;
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        height: 430px;
        justify-content: space-between;
    }
    
    .conteudo-info {
        align-items: center;
    }
    
    .conteudo-endereco {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 660px;
        justify-content: space-between;
    }
    
    .conteudo-endereco h2 {
        align-self: flex-start;
    }
    
    .texto-endereco p {
        width: 100%;
    }
    
    .container-mapa {
        position: unset;
        width: 400px;
    }
    
    .container-video {
        position: unset;
        width: 400px;
    }
    
    .container-mapa {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 30%;
    }
    
    .mapa-responsivo {
        position: absolute;
        margin-top: 10px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    .container-video {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 30%;
    }
    
    .video-responsivo {
        position: absolute;
        margin-top: 10px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    
}